services:
  app:
    build: .
    container_name: finance_api_app
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    env_file:
      - .env.docker
    ports:
      - "8000:8000"
    command: >
      sh -c "
      php -S 0.0.0.0:8000 -t public
      "

  db:
    image: postgres:16
    container_name: finance_api_db
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
